/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    nav .top-bar .heading {
        font-size: 14px;
        color: white;
        padding-left: 10px;
        line-height: 45px;
        text-transform: uppercase;
        word-spacing: 8px;
        letter-spacing: 2px;
        display: inline-block;
    }
    
    .resume-td {
        padding-left: 0 !important;
        padding-right: 1px !important;
    }
  
    .resume {
        width: 100%;
        background-color: #49468e;
        color: white;
        font-size: 18px;
        border: 1px solid #49468e;
    }
  
    .psudo-name {
        font-size: 15px;
    }
  
    .table td,
    .table th {
        overflow: hidden;
    }
  
    .rubric {
        font-size: 16px;
    }
  
    .learning-object {
        font-size: 14px;
        overflow: hidden;
    }
  
    .learning-date {
        font-size: 14px;
    }
  
    .psudo-date,
    .psudo-no {
        font-size: 15px;
    }
  
    .resume {
        font-size: 15px !important;
  
    }
  
    .body-part .panel .i-btn .lobe-lite {
        margin: 5px;
    }
  
    .lobe-premium {
        margin: 5px;
    }
  
    .lobe-custom {
        margin: 5px;
    }
  
    .instruction {
        font-size: 18px;
    }
  
    .assigning-text {
        font-size: 16px;
    }
  
    .next {
        font-size: 16px;
    }
  
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    nav .top-bar .heading {
        font-size: 18px;
        color: white;
        padding-left: 10px;
        line-height: 45px;
        text-transform: uppercase;
        word-spacing: 8px;
        letter-spacing: 2px;
        display: inline-block;
    }
    
    .resume {
        width: 100%;
        background-color: #49468e;
        color: white;
        font-size: 18px;
        border: 1px solid #49468e;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (max-width: 768px) {
    .resume {
        width: 100%;
        background-color: #49468e;
        color: white;
        font-size: 18px;
        border: 1px solid #49468e;
    }
  
    td,
    th {
        text-align: center;
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (max-width: 992px) {
    .left-side-panel {
        display: none;
        z-index: 9;
        /* width: 270px; */
        width: 100%;
        height: calc(100vh - 50px);
        position: fixed;
        top: 50px;
        left: 0;
        background-color: #49468e;
    }
  
    nav .top-bar {
        width: calc(100% - 50px);
        position: fixed;
        top: 0;
        background-color: #49468e;
        height: 50px;
    }
  
    .main {
        position: absolute;
        width: 100%;
        top: 50px;
        overflow-y: scroll;
    }
  
    .resume {
        width: 100%;
        background-color: #49468e;
        color: white;
        font-size: 18px;
        border: 1px solid #49468e;
    }
  }
  @media only screen and (min-width: 993px) {
    .left-side-panel {
        display: block !important;
        width: 270px;
        height: 100vh;
        position: fixed;
        left: 0;
        background-color: #49468e;
    }
    .toggle-btn {
        display: none;
        position: absolute;
        background-color: #49468e;
        cursor: pointer;
    }
  }
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .left-side-panel {
        display: block;
        width: 270px;
        height: 100vh;
        position: fixed;
        left: 0;
        background-color: #49468e;
    }
  
    .toggle-btn {
        display: none;
        position: absolute;
        background-color: #49468e;
        cursor: pointer;
    }
  
    .resume {
        width: 100%;
        background-color: #49468e;
        color: white;
        font-size: 18px;
        border: 1px solid #49468e;
    }
  }